 <table class="table">
  <tbody>
    <% books.post_comments.each do |post_comment| %>
      <tr>
        <td><%= link_to(post_comment.user) do %>
          <%= image_tag post_comment.user.get_profile_image, size:'100x100' %><br>
          <%= post_comment.user.name %>
          <% end %>
        </td>
        <td>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td>
          <%= post_comment.comment %>
        </td>
        <% if post_comment.user == current_user %>
          <td>
            <%= link_to "Destroy", book_post_comment_path(post_comment.book,post_comment.id), method: :delete, remote: true, "data-confirm" => "本当に消しますか？" ,class:"btn btn-danger" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>